.singleItem-img { max-width: 900px; }
.singleItem-info{
border: 1px solid red;
background: red;
max-width: 400px;
min-width: 300px;
min-height: 400px;
position: absolute;
top: 30%;right:0;
padding: 30px;


}